*{
     margin: 0;
     padding: 0;
     font-family: 'poppins' , sans-serif;
     box-sizing: border-box;    
}
:root{
     --background-color: #fff;
     --text-color: #555;
     --title-color: #36323a;
}
.dark-theme{
     --background-color: #36323a;
     --text-color: #999;
     --title-color: #fff;
}
body{
    background: var(--background-color);
    color: var(--text-color);
}

.header{
    width: 100%;
    min-height: 100vh;
    padding: 0 8%;
    position: relative;
    overflow-y: hidden;
}
nav{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.logo img{
    width: 110px;
}
nav ul{
    width: 100%;
    text-align: right;
    list-style: none;
    margin-right: 50px;
}
nav ul li { 
    display: inline-block;
    margin: 5px 15px;
}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}
.toggle-btn{
    background: gray;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.toggle-btn img{
    width: 25px;
    margin-left: 10px;
}
.content{
    margin-top: 10%;
    max-width: 600px;
}
.content h1{
    font-size: 50px;    
    font-family: serif;
    color: var(--title-color);
    font-weight: 600;
}
.content a{
    background: #4864ff;
    color: #fff;
    padding: 15px 70px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
}
.Image-box img{      
    width: 600px;
    display: block; 
       
}
.Image-box{
    position: absolute;
    bottom: 0;
    right: 10%;
}


@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #eaf0f2;
}

header {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 300px;
    font-size: 35px;
}

header h2 {
    color: #f0525f;
}

header span {
    color: #eaa03f;
}

/* The footer is fixed to the bottom of the page */

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        

.pricing-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    margin: auto;
  }
  
  .pricing-card{
    flex: 1;
    max-width: 360px;
    background-color: #514b3d;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
  }
  
  .pricing-card-header{
    background-color: #5d5843;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
  }
  
  .pricing-card:hover .pricing-card-header{
    box-shadow: 0 0 0 26em #cac9b3;
  }
  
  .price{
    font-size: 70px;
    color: #2d2d2d;
    margin: 40px 0;
    transition: .2s linear;
  }
  
  .price sup, .price span{
    font-size: 22px;
    font-weight: 700;
  }
  
  .pricing-card:hover ,.pricing-card:hover .price{
    color: #353232;
  }
  
  .pricing-card li{
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
  }
  
  .order-btn{
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 80px;
    border: 2px solid #353332;
    color: #353332;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
  }
  
  .order-btn:hover{
    background-color: #2c2e2f;
    color: #fff;
  }
  
  @media screen and (max-width:1100px){
    .pricing-card{
      flex: 50%;
    }
  }

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}  
.contact .content2{
    max-width: 800px;
    text-align: center;
}
.contact .content2 h2{
    font-size: 36px;
    font-weight: 500;
    color: #5d5d5d;
}
.contact .content2 p{
    font-weight: 300;
    color: #5f5b5b;
}
.container2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container2 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container2 .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container2 .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #7a735f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container2 .contactInfo .box .text2{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #595959;
    flex-direction: column;
    font-weight: 300;
}
.container2 .contactInfo .box .text2 h3{
    font-weight: 500;
    color: #97720c;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #282827;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: -7px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translate(-20px);    
} 
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #313232;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}